In [6]:
#import librabries
import mysql.connector as mys
from mysql.connector import Error
import pandas as pd

In [7]:
def create_connection(host,user,password):
    connection = None
    try:
        connection= mys.connect(host=host,user=user,
                               passwd=password)
        print("MySQL Database connection Successful")
    except Error as err:
        print(f"Error: {err} ")
    return connection
#Put our terminal password
pw = "Rush@bh3010"
#database name
db= "Mysql_python"
connection=create_connection("localhost","root",pw)

MySQL Database connection Successful

In [8]:
#connecting to databse
def create_db_connection(host,user,password,db_name):
    connection = None
    try:
        connection= mys.connect(host=host,user=user,passwd=password,
                               database=db_name)
        print("MySQL Database connection Successful")
    except Error as err:
        print(f"Error: {err} ")
    return connection

In [9]:
#excecute sql queries
def execute_query(connection,query):
    cursor=connection.cursor()#this is use to establish conenction and run sql queries
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was Successful")
    except Error as err:
        print(f"Error: {err} ")

In [10]:
#read the query and display the results
def read_query(connection,query):
    cursor=connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result=cursor.fetchall()#it will return all result in table
        return result
    except Error as err:
        print(f"Error: {err} ")

In [11]:
connection = create_db_connection("localhost","root",pw,"rushdb")

MySQL Database connection Successful

In [12]:
q1="""select * from foodsale;"""
connection = create_db_connection("localhost","root",pw,"rushdb")
results=read_query(connection,q1)
for i in results:
    print(i)

MySQL Database connection Successful
('01/01/2020', 'East', 'Boston', 'Bars', 'Carrot', 33, 1.77, 58.41)
('04/01/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 87, 3.49, 303.63)
('07/01/2020', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 58, 1.87, 108.46)
('10/01/2020', 'East', 'New York', 'Cookies', 'Chocolate Chip', 82, 1.87, 153.34)
('13/01/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 38, 2.18, 82.84)
('16/01/2020', 'East', 'Boston', 'Bars', 'Carrot', 54, 1.77, 95.58)
('19/01/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 149, 3.49, 520.01)
('22/01/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 51, 1.77, 90.27)
('25/01/2020', 'East', 'New York', 'Bars', 'Carrot', 100, 1.77, 177.0)
('28/01/2020', 'East', 'New York', 'Snacks', 'Potato Chips', 28, 1.35, 37.8)
('31/01/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 36, 2.18, 78.48)
('03/02/2020', 'East', 'Boston', 'Cookies', 'Chocolate Chip', 31, 1.87, 57.97)
('06/02/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 28, 3.49, 97.72)
('09/02/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 44, 1.77, 77.88)
('12/02/2020', 'East', 'New York', 'Bars', 'Carrot', 23, 1.77, 40.71)
('15/02/2020', 'East', 'New York', 'Snacks', 'Potato Chips', 27, 1.35, 36.45)
('18/02/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 43, 2.18, 93.74)
('21/02/2020', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 123, 2.84, 349.32)
('24/02/2020', 'West', 'Los Angeles', 'Bars', 'Bran', 42, 1.87, 78.54)
('27/02/2020', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 33, 2.84, 93.72)
('02/03/2020', 'East', 'New York', 'Cookies', 'Chocolate Chip', 85, 1.87, 158.95)
('05/03/2020', 'West', 'San Diego', 'Cookies', 'Oatmeal Raisin', 30, 2.84, 85.2)
('08/03/2020', 'East', 'Boston', 'Bars', 'Carrot', 61, 1.77, 107.97)
('11/03/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 40, 3.49, 139.6)
('14/03/2020', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 86, 1.87, 160.82)
('17/03/2020', 'East', 'New York', 'Bars', 'Carrot', 38, 1.77, 67.26)
('20/03/2020', 'East', 'New York', 'Snacks', 'Potato Chips', 68, 1.68, 114.24)
('23/03/2020', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 39, 1.87, 72.93)
('26/03/2020', 'East', 'Boston', 'Bars', 'Bran', 103, 1.87, 192.61)
('29/03/2020', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 193, 2.84, 548.12)
('01/04/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 58, 1.77, 102.66)
('04/04/2020', 'West', 'Los Angeles', 'Snacks', 'Potato Chips', 68, 1.68, 114.24)
('07/04/2020', 'East', 'New York', 'Bars', 'Carrot', 91, 1.77, 161.07)
('10/04/2020', 'East', 'New York', 'Crackers', 'Whole Wheat', 23, 3.49, 80.27)
('13/04/2020', 'West', 'San Diego', 'Snacks', 'Potato Chips', 28, 1.68, 47.04)
('16/04/2020', 'East', 'Boston', 'Bars', 'Carrot', 48, 1.77, 84.96)
('19/04/2020', 'East', 'Boston', 'Snacks', 'Potato Chips', 134, 1.68, 225.12)
('22/04/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 20, 1.77, 35.4)
('25/04/2020', 'East', 'New York', 'Bars', 'Carrot', 53, 1.77, 93.81)
('28/04/2020', 'East', 'New York', 'Snacks', 'Potato Chips', 64, 1.68, 107.52)
('01/05/2020', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 63, 1.87, 117.81)
('04/05/2020', 'East', 'Boston', 'Bars', 'Bran', 105, 1.87, 196.35)
('07/05/2020', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 138, 2.84, 391.92)
('10/05/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 25, 1.77, 44.25)
('13/05/2020', 'West', 'Los Angeles', 'Crackers', 'Whole Wheat', 21, 3.49, 73.29)
('16/05/2020', 'East', 'New York', 'Bars', 'Carrot', 61, 1.77, 107.97)
('19/05/2020', 'East', 'New York', 'Snacks', 'Potato Chips', 49, 1.68, 82.32)
('22/05/2020', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 55, 1.87, 102.85)
('25/05/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 27, 2.18, 58.86)
('28/05/2020', 'East', 'Boston', 'Bars', 'Carrot', 58, 1.77, 102.66)
('31/05/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 33, 3.49, 115.17)
('03/06/2020', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 288, 2.84, 817.92)
('06/06/2020', 'East', 'New York', 'Cookies', 'Chocolate Chip', 76, 1.87, 142.12)
('09/06/2020', 'West', 'San Diego', 'Bars', 'Carrot', 42, 1.77, 74.34)
('12/06/2020', 'West', 'San Diego', 'Crackers', 'Whole Wheat', 20, 3.49, 69.8)
('15/06/2020', 'East', 'Boston', 'Bars', 'Carrot', 75, 1.77, 132.75)
('18/06/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 38, 3.49, 132.62)
('21/06/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 306, 1.77, 541.62)
('24/06/2020', 'West', 'Los Angeles', 'Snacks', 'Potato Chips', 28, 1.68, 47.04)
('27/06/2020', 'East', 'New York', 'Bars', 'Bran', 110, 1.87, 205.7)
('30/06/2020', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 51, 2.84, 144.84)
('03/07/2020', 'West', 'San Diego', 'Bars', 'Carrot', 52, 1.77, 92.04)
('06/07/2020', 'West', 'San Diego', 'Crackers', 'Whole Wheat', 28, 3.49, 97.72)
('09/07/2020', 'East', 'Boston', 'Bars', 'Carrot', 136, 1.77, 240.72)
('12/07/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 42, 3.49, 146.58)
('15/07/2020', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 75, 1.87, 140.25)
('18/07/2020', 'East', 'New York', 'Bars', 'Bran', 72, 1.87, 134.64)
('21/07/2020', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 56, 2.84, 159.04)
('24/07/2020', 'West', 'San Diego', 'Bars', 'Bran', 51, 1.87, 95.37)
('27/07/2020', 'West', 'San Diego', 'Snacks', 'Potato Chips', 31, 1.68, 52.08)
('30/07/2020', 'East', 'Boston', 'Bars', 'Bran', 56, 1.87, 104.72)
('02/08/2020', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 137, 2.84, 389.08)
('05/08/2020', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 107, 1.87, 200.09)
('08/08/2020', 'East', 'New York', 'Bars', 'Carrot', 24, 1.77, 42.48)
('11/08/2020', 'East', 'New York', 'Crackers', 'Whole Wheat', 30, 3.49, 104.7)
('14/08/2020', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 70, 1.87, 130.9)
('17/08/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 31, 2.18, 67.58)
('20/08/2020', 'East', 'Boston', 'Bars', 'Carrot', 109, 1.77, 192.93)
('23/08/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 21, 3.49, 73.29)
('26/08/2020', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 80, 1.87, 149.6)
('29/08/2020', 'East', 'New York', 'Bars', 'Bran', 75, 1.87, 140.25)
('01/09/2020', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 74, 2.84, 210.16)
('04/09/2020', 'West', 'San Diego', 'Bars', 'Carrot', 45, 1.77, 79.65)
('07/09/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 28, 2.18, 61.04)
('10/09/2020', 'East', 'Boston', 'Bars', 'Carrot', 143, 1.77, 253.11)
('13/09/2020', 'East', 'Boston', 'Snacks', 'Pretzels', 27, 3.15, 85.05)
('16/09/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 133, 1.77, 235.41)
('19/09/2020', 'East', 'New York', 'Cookies', 'Arrowroot', 110, 2.18, 239.8)
('22/09/2020', 'East', 'New York', 'Cookies', 'Chocolate Chip', 65, 1.87, 121.55)
('25/09/2020', 'West', 'San Diego', 'Bars', 'Bran', 33, 1.87, 61.71)
('28/09/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 81, 2.18, 176.58)
('01/10/2020', 'East', 'Boston', 'Bars', 'Carrot', 77, 1.77, 136.29)
('04/10/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 38, 3.49, 132.62)
('07/10/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 40, 1.77, 70.8)
('10/10/2020', 'West', 'Los Angeles', 'Snacks', 'Potato Chips', 114, 1.68, 191.52)
('13/10/2020', 'East', 'New York', 'Cookies', 'Arrowroot', 224, 2.18, 488.32)
('16/10/2020', 'East', 'New York', 'Bars', 'Carrot', 141, 1.77, 249.57)
('19/10/2020', 'East', 'New York', 'Crackers', 'Whole Wheat', 32, 3.49, 111.68)
('22/10/2020', 'West', 'San Diego', 'Bars', 'Carrot', 20, 1.77, 35.4)
('25/10/2020', 'East', 'Boston', 'Cookies', 'Arrowroot', 40, 2.18, 87.2)
('28/10/2020', 'East', 'Boston', 'Cookies', 'Chocolate Chip', 49, 1.87, 91.63)
('31/10/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 46, 3.49, 160.54)
('03/11/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 39, 1.77, 69.03)
('06/11/2020', 'West', 'Los Angeles', 'Snacks', 'Potato Chips', 62, 1.68, 104.16)
('09/11/2020', 'East', 'New York', 'Bars', 'Carrot', 90, 1.77, 159.3)
('12/11/2020', 'West', 'San Diego', 'Cookies', 'Arrowroot', 103, 2.18, 224.54)
('15/11/2020', 'West', 'San Diego', 'Cookies', 'Oatmeal Raisin', 32, 2.84, 90.88)
('18/11/2020', 'East', 'Boston', 'Bars', 'Bran', 66, 1.87, 123.42)
('21/11/2020', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 97, 2.84, 275.48)
('24/11/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 30, 1.77, 53.1)
('27/11/2020', 'West', 'Los Angeles', 'Snacks', 'Potato Chips', 29, 1.68, 48.72)
('30/11/2020', 'East', 'New York', 'Bars', 'Carrot', 92, 1.77, 162.84)
('03/12/2020', 'West', 'San Diego', 'Cookies', 'Arrowroot', 139, 2.18, 303.02)
('06/12/2020', 'West', 'San Diego', 'Cookies', 'Oatmeal Raisin', 29, 2.84, 82.36)
('09/12/2020', 'East', 'Boston', 'Bars', 'Banana', 30, 2.27, 68.1)
('12/12/2020', 'East', 'Boston', 'Cookies', 'Chocolate Chip', 36, 1.87, 67.32)
('15/12/2020', 'East', 'Boston', 'Crackers', 'Whole Wheat', 41, 3.49, 143.09)
('18/12/2020', 'West', 'Los Angeles', 'Bars', 'Carrot', 44, 1.77, 77.88)
('21/12/2020', 'West', 'Los Angeles', 'Snacks', 'Potato Chips', 29, 1.68, 48.72)
('24/12/2020', 'East', 'New York', 'Cookies', 'Arrowroot', 237, 2.18, 516.66)
('27/12/2020', 'East', 'New York', 'Cookies', 'Chocolate Chip', 65, 1.87, 121.55)
('30/12/2020', 'West', 'San Diego', 'Cookies', 'Arrowroot', 83, 2.18, 180.94)
('02/01/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 32, 2.18, 69.76)
('05/01/2021', 'East', 'Boston', 'Bars', 'Carrot', 63, 1.77, 111.51)
('08/01/2021', 'East', 'Boston', 'Snacks', 'Pretzels', 29, 3.15, 91.35)
('11/01/2021', 'West', 'Los Angeles', 'Bars', 'Bran', 77, 1.87, 143.99)
('14/01/2021', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 80, 2.84, 227.2)
('17/01/2021', 'East', 'New York', 'Bars', 'Carrot', 102, 1.77, 180.54)
('20/01/2021', 'East', 'New York', 'Crackers', 'Whole Wheat', 31, 3.49, 108.19)
('23/01/2021', 'West', 'San Diego', 'Bars', 'Carrot', 56, 1.77, 99.12)
('26/01/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 52, 2.18, 113.36)
('29/01/2021', 'East', 'Boston', 'Bars', 'Carrot', 51, 1.77, 90.27)
('01/02/2021', 'East', 'Boston', 'Snacks', 'Potato Chips', 24, 1.68, 40.32)
('04/02/2021', 'West', 'Los Angeles', 'Cookies', 'Arrowroot', 58, 2.18, 126.44)
('07/02/2021', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 34, 1.87, 63.58)
('10/02/2021', 'East', 'New York', 'Bars', 'Carrot', 34, 1.77, 60.18)
('13/02/2021', 'East', 'New York', 'Snacks', 'Potato Chips', 21, 1.68, 35.28)
('16/02/2021', 'West', 'San Diego', 'Cookies', 'Oatmeal Raisin', 29, 2.84, 82.36)
('19/02/2021', 'East', 'Boston', 'Bars', 'Carrot', 68, 1.77, 120.36)
('22/02/2021', 'East', 'Boston', 'Snacks', 'Pretzels', 31, 3.15, 97.65)
('25/02/2021', 'West', 'Los Angeles', 'Cookies', 'Arrowroot', 30, 2.18, 65.4)
('28/02/2021', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 232, 1.87, 433.84)
('02/03/2021', 'East', 'New York', 'Bars', 'Bran', 68, 1.87, 127.16)
('05/03/2021', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 97, 2.84, 275.48)
('08/03/2021', 'West', 'San Diego', 'Bars', 'Bran', 86, 1.87, 160.82)
('11/03/2021', 'West', 'San Diego', 'Snacks', 'Potato Chips', 41, 1.68, 68.88)
('14/03/2021', 'East', 'Boston', 'Bars', 'Carrot', 93, 1.77, 164.61)
('17/03/2021', 'East', 'Boston', 'Snacks', 'Potato Chips', 47, 1.68, 78.96)
('20/03/2021', 'West', 'Los Angeles', 'Bars', 'Carrot', 103, 1.77, 182.31)
('23/03/2021', 'West', 'Los Angeles', 'Snacks', 'Potato Chips', 33, 1.68, 55.44)
('26/03/2021', 'East', 'New York', 'Bars', 'Bran', 57, 1.87, 106.59)
('29/03/2021', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 65, 2.84, 184.6)
('01/04/2021', 'West', 'San Diego', 'Bars', 'Carrot', 118, 1.77, 208.86)
('04/04/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 36, 2.18, 78.48)
('07/04/2021', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 123, 2.84, 349.32)
('10/04/2021', 'West', 'Los Angeles', 'Bars', 'Carrot', 90, 1.77, 159.3)
('13/04/2021', 'West', 'Los Angeles', 'Crackers', 'Whole Wheat', 21, 3.49, 73.29)
('16/04/2021', 'East', 'New York', 'Bars', 'Carrot', 48, 1.77, 84.96)
('19/04/2021', 'East', 'New York', 'Snacks', 'Potato Chips', 24, 1.68, 40.32)
('22/04/2021', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 67, 1.87, 125.29)
('25/04/2021', 'East', 'Boston', 'Bars', 'Bran', 27, 1.87, 50.49)
('28/04/2021', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 129, 2.84, 366.36)
('01/05/2021', 'West', 'Los Angeles', 'Cookies', 'Arrowroot', 77, 2.18, 167.86)
('04/05/2021', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 58, 1.87, 108.46)
('07/05/2021', 'East', 'New York', 'Bars', 'Bran', 47, 1.87, 87.89)
('10/05/2021', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 33, 2.84, 93.72)
('13/05/2021', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 82, 1.87, 153.34)
('16/05/2021', 'East', 'Boston', 'Bars', 'Carrot', 58, 1.77, 102.66)
('19/05/2021', 'East', 'Boston', 'Snacks', 'Pretzels', 30, 3.15, 94.5)
('22/05/2021', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 43, 1.87, 80.41)
('25/05/2021', 'East', 'New York', 'Bars', 'Carrot', 84, 1.77, 148.68)
('28/05/2021', 'West', 'San Diego', 'Cookies', 'Arrowroot', 36, 2.18, 78.48)
('31/05/2021', 'West', 'San Diego', 'Cookies', 'Oatmeal Raisin', 44, 2.84, 124.96)
('03/06/2021', 'East', 'Boston', 'Bars', 'Bran', 27, 1.87, 50.49)
('06/06/2021', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 120, 2.84, 340.8)
('09/06/2021', 'East', 'Boston', 'Crackers', 'Whole Wheat', 26, 3.49, 90.74)
('12/06/2021', 'West', 'Los Angeles', 'Bars', 'Carrot', 73, 1.77, 129.21)
('15/06/2021', 'East', 'New York', 'Bars', 'Bran', 38, 1.87, 71.06)
('18/06/2021', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 40, 2.84, 113.6)
('21/06/2021', 'West', 'San Diego', 'Bars', 'Carrot', 41, 1.77, 72.57)
('24/06/2021', 'East', 'Boston', 'Bars', 'Banana', 27, 2.27, 61.29)
('27/06/2021', 'East', 'Boston', 'Cookies', 'Chocolate Chip', 38, 1.87, 71.06)
('30/06/2021', 'East', 'Boston', 'Crackers', 'Whole Wheat', 34, 3.49, 118.66)
('03/07/2021', 'West', 'Los Angeles', 'Bars', 'Bran', 65, 1.87, 121.55)
('06/07/2021', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 60, 2.84, 170.4)
('09/07/2021', 'East', 'New York', 'Cookies', 'Arrowroot', 37, 2.18, 80.66)
('12/07/2021', 'East', 'New York', 'Cookies', 'Chocolate Chip', 40, 1.87, 74.8)
('15/07/2021', 'West', 'San Diego', 'Bars', 'Bran', 26, 1.87, 48.62)
('18/07/2021', 'East', 'Boston', 'Bars', 'Banana', 22, 2.27, 49.94)
('21/07/2021', 'East', 'Boston', 'Cookies', 'Chocolate Chip', 32, 1.87, 59.84)
('24/07/2021', 'East', 'Boston', 'Crackers', 'Whole Wheat', 23, 3.49, 80.27)
('27/07/2021', 'West', 'Los Angeles', 'Cookies', 'Arrowroot', 20, 2.18, 43.6)
('30/07/2021', 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 64, 1.87, 119.68)
('02/08/2021', 'East', 'New York', 'Bars', 'Carrot', 71, 1.77, 125.67)
('05/08/2021', 'West', 'San Diego', 'Cookies', 'Arrowroot', 90, 2.18, 196.2)
('08/08/2021', 'West', 'San Diego', 'Cookies', 'Oatmeal Raisin', 38, 2.84, 107.92)
('11/08/2021', 'East', 'Boston', 'Bars', 'Carrot', 55, 1.77, 97.35)
('14/08/2021', 'East', 'Boston', 'Snacks', 'Pretzels', 22, 3.15, 69.3)
('17/08/2021', 'West', 'Los Angeles', 'Bars', 'Carrot', 34, 1.77, 60.18)
('20/08/2021', 'East', 'New York', 'Bars', 'Bran', 39, 1.87, 72.93)
('23/08/2021', 'East', 'New York', 'Cookies', 'Oatmeal Raisin', 41, 2.84, 116.44)
('26/08/2021', 'West', 'San Diego', 'Bars', 'Carrot', 41, 1.77, 72.57)
('29/08/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 136, 2.18, 296.48)
('01/09/2021', 'East', 'Boston', 'Bars', 'Carrot', 25, 1.77, 44.25)
('04/09/2021', 'East', 'Boston', 'Snacks', 'Pretzels', 26, 3.15, 81.9)
('07/09/2021', 'West', 'Los Angeles', 'Bars', 'Bran', 50, 1.87, 93.5)
('10/09/2021', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 79, 2.84, 224.36)
('13/09/2021', 'East', 'New York', 'Bars', 'Carrot', 30, 1.77, 53.1)
('16/09/2021', 'East', 'New York', 'Snacks', 'Potato Chips', 20, 1.68, 33.6)
('19/09/2021', 'West', 'San Diego', 'Bars', 'Carrot', 49, 1.77, 86.73)
('22/09/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 40, 2.18, 87.2)
('25/09/2021', 'East', 'Boston', 'Bars', 'Carrot', 31, 1.77, 54.87)
('28/09/2021', 'East', 'Boston', 'Snacks', 'Pretzels', 21, 3.15, 66.15)
('01/10/2021', 'West', 'Los Angeles', 'Bars', 'Bran', 43, 1.87, 80.41)
('04/10/2021', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 47, 2.84, 133.48)
('07/10/2021', 'East', 'New York', 'Cookies', 'Arrowroot', 175, 2.18, 381.5)
('10/10/2021', 'East', 'New York', 'Cookies', 'Chocolate Chip', 23, 1.87, 43.01)
('13/10/2021', 'West', 'San Diego', 'Bars', 'Carrot', 40, 1.77, 70.8)
('16/10/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 87, 2.18, 189.66)
('19/10/2021', 'East', 'Boston', 'Bars', 'Carrot', 43, 1.77, 76.11)
('22/10/2021', 'East', 'Boston', 'Crackers', 'Whole Wheat', 30, 3.49, 104.7)
('25/10/2021', 'West', 'Los Angeles', 'Bars', 'Carrot', 35, 1.77, 61.95)
('28/10/2021', 'East', 'New York', 'Bars', 'Bran', 57, 1.87, 106.59)
('31/10/2021', 'East', 'New York', 'Snacks', 'Potato Chips', 25, 1.68, 42.0)
('03/11/2021', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 24, 1.87, 44.88)
('06/11/2021', 'East', 'Boston', 'Bars', 'Bran', 83, 1.87, 155.21)
('09/11/2021', 'East', 'Boston', 'Cookies', 'Oatmeal Raisin', 124, 2.84, 352.16)
('12/11/2021', 'West', 'Los Angeles', 'Bars', 'Carrot', 137, 1.77, 242.49)
('15/11/2021', 'East', 'New York', 'Cookies', 'Arrowroot', 146, 2.18, 318.28)
('18/11/2021', 'East', 'New York', 'Cookies', 'Chocolate Chip', 34, 1.87, 63.58)
('21/11/2021', 'West', 'San Diego', 'Bars', 'Carrot', 20, 1.77, 35.4)
('24/11/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 139, 2.18, 303.02)
('27/11/2021', 'East', 'Boston', 'Cookies', 'Chocolate Chip', 211, 1.87, 394.57)
('30/11/2021', 'East', 'Boston', 'Crackers', 'Whole Wheat', 20, 3.49, 69.8)
('03/12/2021', 'West', 'Los Angeles', 'Bars', 'Bran', 42, 1.87, 78.54)
('06/12/2021', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 100, 2.84, 284.0)
('09/12/2021', 'East', 'New York', 'Bars', 'Carrot', 38, 1.77, 67.26)
('12/12/2021', 'East', 'New York', 'Crackers', 'Whole Wheat', 25, 3.49, 87.25)
('15/12/2021', 'West', 'San Diego', 'Cookies', 'Chocolate Chip', 96, 1.87, 179.52)
('18/12/2021', 'East', 'Boston', 'Cookies', 'Arrowroot', 34, 2.18, 74.12)
('21/12/2021', 'East', 'Boston', 'Cookies', 'Chocolate Chip', 245, 1.87, 458.15)
('24/12/2021', 'East', 'Boston', 'Crackers', 'Whole Wheat', 30, 3.49, 104.7)
('27/12/2021', 'West', 'Los Angeles', 'Bars', 'Bran', 30, 1.87, 56.1)
('30/12/2021', 'West', 'Los Angeles', 'Cookies', 'Oatmeal Raisin', 44, 2.84, 124.96)

In [35]:
#in boston city which product is sold most?
q2="""select city,category,product,sum(totalprice) as totalsales from foodsale where city='boston';"""
connection = create_db_connection("localhost","root",pw,"rushdb")
results=read_query(connection,q2)
for i in results:
    print(i)
#Carrot is sold most

MySQL Database connection Successful
('Boston', 'Bars', 'Carrot', 13265.53)

In [32]:
#In new york city which product is sold most?
q3="""select city,category,product, sum(totalprice) as totalsales from foodsale where city='new york';"""
connection = create_db_connection("localhost","root",pw,"rushdb")
results=read_query(connection,q3)
for i in results:
    print(i)
#Chocolate Chip is sold most

MySQL Database connection Successful
('New York', 'Chocolate Chip', 8258.830000000002)

In [33]:
#in san diego city which product is sold most?
q4="""select city,category,product, sum(totalprice) as totalsales from foodsale where city='san diego';"""
connection = create_db_connection("localhost","root",pw,"rushdb")
results = read_query(connection,q4)
for i in results:
    print(i)
#Oatmeal Raisin is sold most

MySQL Database connection Successful
('San Diego', 'Cookies', 'Oatmeal Raisin', 4113.9000000000015)

In [30]:
#in los angeles city which product is sold most?
q5="""select city,category,product,sum(totalprice) as totalsales from foodsale where city='los angeles';"""
connection = create_db_connection("localhost","root",pw,"rushdb")
results=read_query(connection,q5)
from_db=[]
for result in results:
    result=list(result)
    from_db.append(result)
columns=["City","Category","Product","TotalSales"]
df=pd.DataFrame(from_db, columns= columns)
display(df)
#Chocolate Chip is sold most

MySQL Database connection Successful

          City Category         Product  TotalSales
0  Los Angeles  Cookies  Chocolate Chip     7687.32

In [17]:
from_db=[]
for result in results:
    result=list(result)
    from_db.append(result)
columns=["city","category","product","Totalprice"]
df=pd.DataFrame(from_db, columns= columns)
display(df)

          city category         product  Totalprice
0  Los Angeles  Cookies  Oatmeal Raisin      817.92

In [20]:
#Sales by Region
q7="""select region ,sum(totalprice) as totalsales from foodsale group by region"""
connection = create_db_connection("localhost","root",pw,"rushdb")
results = read_query(connection,q7)
for i in results:
    print(i)
#Maximum Sales was in east

MySQL Database connection Successful
('East', 21524.35999999999)
('West', 11801.219999999996)

In [21]:
#Sales by city
q8="""select city,sum(totalprice) as totalsales from foodsale group by city"""
connection = create_db_connection("localhost","root",pw,"rushdb")
results = read_query(connection,q8)
for i in results:
    print(i)
#Maximum Sales was in Boston

MySQL Database connection Successful
('Boston', 13265.53)
('Los Angeles', 7687.319999999998)
('New York', 8258.830000000002)
('San Diego', 4113.9000000000015)